* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

html{
    height: 100%;
    width: 100%;
}


body { 
    font: 13px Helvetica, Arial; 
    background: rgb(12, 12, 12);
    /* border: 2px dashed red; */
    height: 100%;
    width: 100%;
    /* padding: 30px; */
}

div.left{
    /* border: 2px solid green; */
    height: 90%;
    width: 70%;
    float: left;
    padding: 30px;
    padding-top: 10px;
    padding-bottom: 40px;
    /* padding-right: 20px; */
    font-size: 1.2em;
}

div #msg-display{
    border: 2px solid rgb(180, 180, 180);
    background: #282D33;
    color: white;
    height: 100%;
    width: 100%;
    float: center;
    overflow: auto;
    position: relative;
}

div.right{
    /* border: 2px solid blue; */
    height: 90%;
    width: 30%;
    float:right;
    padding: 30px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 40px;
    font-size: 1.2em;
}

div #usr-display{
    border: 2px solid rgb(180, 180, 180);
    background: #282D33;
    color: white;
    height: 100%;
    width: 100%;
    float: center;
    overflow: auto;
    position: relative;
}


div.form{
    height: 10%;
    width: 100%;
    clear: both;
    padding: 10px;
    padding-right: 30px;
    padding-left: 30px;
    /* border: 2px solid yellow; */
}


form { 
    /* border: 2px solid black; */
    border: 2px solid rgb(180, 180, 180);
    background: #000; 
    min-height: 45px;
    max-height: 35px;
    /* padding: 0.5em;  */
    /* position: fixed; 
    bottom: 0;  */
    width: 100%; 
    height: 100%;
    
}
form input { 
    /* border: 2px solid blue;  */
    /* padding: 10px;  */
    width: 90%; 
    height: 100%;
    margin-right: .5%; 
    float: left;
}
form button { 
    width: 9%; 
    height: 100%;
    color: white;
    background: #282D33; 
    border: none; 
    /* padding: 10px;  */
    float: right;
}

form button:hover{
    background: #41EAD4;
}

#messages { 
    /* border: 2px solid blue;  */
    list-style-type: none; 
    margin: 0; 
    padding: 0;
    position: absolute; 
    bottom: 0;
    width: 100%;
    max-height: 100%;
    word-wrap:break-word;
}
#messages li { 
    padding: 5px 10px; 
}

#users { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    position: absolute; 
    bottom: 0;
    width: 100%;
    max-height: 100%;
    word-wrap:break-word;
}
#users li { 
    padding: 5px 10px; 
}

#user-label{
    /* border: 2px solid blue;  */
    color: #41EAD4;
    font-weight: lighter;
    float:left;
    margin-left: 0.75em;
}

h2.display-header{
    /* border: 2px solid blue;  */
    color: #41EAD4;
    float:left;
}
/*
Code for changing background colour of every 2nd msg 
#messages li:nth-child(odd) { 
    background: #eee;
} */
