* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

html{
    height: 100%;
    width: 100%;
}


body { 
    font: 13px Helvetica, Arial; 
    border: 2px dashed red;
    height: 100%;
    width: 100%;
    /* padding: 30px; */
}

div.left{
    border: 2px solid green;
    height: 90%;
    width: 70%;
    float: left;
    padding: 30px;
    font-size: 1.2em;
}

div #msg-display{
    border: 2px solid orange;
    background: #282D33;
    color: white;
    height: 100%;
    width: 100%;
    float: center;
    overflow: auto;

}

div.right{
    border: 2px solid blue;
    height: 90%;
    width: 30%;
    float:right;
    padding: 30px;
    font-size: 1.2em;
}

div #usr-display{
    border: 2px solid orange;
    background: #282D33;
    color: white;
    height: 100%;
    width: 100%;
    float: center;
}


div.form{
    height: 10%;
    width: 100%;
    clear: both;
    padding: 15px;
    border: 2px solid yellow;
}


form { 
    background: #000; 
    padding: 3px; 
    /* position: fixed;  */
    bottom: 0; 
    width: 100%; 
    height: 100%;
    
}
form input { 
    border: 0; 
    padding: 10px; 
    width: 90%; 
    height: 100%;
    margin-right: .5%; 
}
form button { 
    width: 9%; 
    height: 100%;
    color: white;
    background: #282D33; 
    border: none; 
    padding: 10px; 
}


#messages { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
}
#messages li { 
    padding: 5px 10px; 
}
/*
Code for changing background colour of every 2nd msg 
#messages li:nth-child(odd) { 
    background: #eee;
} */
