* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

html{
    height: 100%;
    width: 100%;
}


body { 
    font: 13px Helvetica, Arial; 
    border: 2px dashed red;
    height: 100%;
    width: 100%;
    /* padding: 30px; */
}

div.left{
    border: 2px solid green;
    height: 90%;
    width: 70%;
    float: left;
    padding: 30px;
    font-size: 1.2em;
}

div #msg-display{
    border: 2px solid orange;
    background: #282D33;
    color: white;
    height: 100%;
    width: 100%;
    float: center;
    overflow: auto;
    position: relative;
}

div.right{
    border: 2px solid blue;
    height: 90%;
    width: 30%;
    float:right;
    padding: 30px;
    font-size: 1.2em;
}

div #usr-display{
    border: 2px solid orange;
    background: #282D33;
    color: white;
    height: 100%;
    width: 100%;
    float: center;
    overflow: auto;
    position: relative;
}


div.form{
    height: 10%;
    width: 100%;
    clear: both;
    padding: 10px;
    border: 2px solid yellow;
}


form { 
    border: 2px solid red;
    background: #000; 
    min-height: 30px;
    max-height: 40px;
    /* padding: 0.5em;  */
    /* position: fixed; 
    bottom: 0;  */
    width: 100%; 
    height: 100%;
    
}
form input { 
    border: 2px solid blue; 
    /* padding: 10px;  */
    width: 90%; 
    height: 100%;
    margin-right: .5%; 
    float: left;
}
form button { 
    width: 9%; 
    height: 100%;
    color: white;
    background: #282D33; 
    border: none; 
    /* padding: 10px;  */
    float: right;
}


#messages { 
    /* border: 2px solid blue;  */
    list-style-type: none; 
    margin: 0; 
    padding: 0;
    position: absolute; 
    bottom: 0;
    width: 100%;
    max-height: 100%;
    word-wrap:break-word;
}
#messages li { 
    padding: 5px 10px; 
}

#users { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    position: absolute; 
    bottom: 0;
    width: 100%;
    max-height: 100%;
    word-wrap:break-word;
}
#users li { 
    padding: 5px 10px; 
}
/*
Code for changing background colour of every 2nd msg 
#messages li:nth-child(odd) { 
    background: #eee;
} */
